name: Docker Image CICD

on:
  push:
    branches:
      - master

jobs:
  build:
    environment: prod
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v3
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag game_scanner:latest
    - name: Stop and remove existing container
      run: |
        if docker ps -a | grep -q game_scanner; then
          docker rm -f game_scanner
        fi
    - name: Run the Docker image
      run: |
        docker run -d --restart unless-stopped \
        --name game_scanner \
        -e GOOGLE_KEY=${{ secrets.GOOGLE_KEY }} \
        -e GOOGLE_CX=${{ secrets.GOOGLE_CX }} \
        -e GH_TOKEN=${{ secrets.GH_TOKEN }} \
        -e BGG_USERNAME=${{ secrets.BGG_USERNAME }} \
        -e BGG_PASS=${{ secrets.BGG_PASS }} \
        -e TELEGRAM_TOKEN=${{ secrets.TELEGRAM_TOKEN }} \
        -e OPENAI_BASE_URL=${{ secrets.OPENAI_BASE_URL }} \
        -e OPENAI_API_KEY=${{ secrets.OPENAI_API_KEY }} \
        -e FIRESTORE_KEY='${{ secrets.FIRESTORE_KEY }}' \
        -e BGG_API_KEY=${{ secrets.BGG_API_KEY }} \
        game_scanner:latest python3 telegram_app.py
